This notebook will take the original dataset and transform the anchor tag and the search phrase using the Transformers library.  Each phrase will be run through a transformer model, those outptus will be concatenated together, and then the CPC demographic data will be added on as well.  This will give a tabular dataset upon which I will train a XGB model.  This notebook is intended to provide a baseline model for the competition.

# Plan of Action
* Load Data
* Establish Transformers model
* Transform anchor tag, search tag
* Concatenate anchor tag, search tag, demo data
* Write data to file
* Instantiate XGB Model
* Train XGB Model

### Load Data

In [1]:
import pandas as pd

In [8]:
data = pd.read_csv('/media/bigdisk/phrase_to_phrase/data/interim/data_with_cpc_structure.csv')

In [9]:
data.head()

,id,anchor,target,context,score,section,class,subclass,group,subgroup
0,37d61fd2272659b1,abatement,abatement of pollution,A47,0.50,A,4,7,NaN,NaN
1,7b9652b17b68b7a4,abatement,act of abating,A47,0.75,A,4,7,NaN,NaN
2,36d72442aefd8232,abatement,active catalyst,A47,0.25,A,4,7,NaN,NaN
3,5296b0c19e1ce60e,abatement,eliminating process,A47,0.50,A,4,7,NaN,NaN
4,54c1e3b9184cb5b6,abatement,forest region,A47,0.00,A,4,7,NaN,NaN

In [10]:
# fill CPC columns with flag value for null values
to_fill = ['section','class','subclass','group','subgroup']
for col in to_fill:
    data[col].fillna(9999, inplace=True)

In [11]:
data.head()

,id,anchor,target,context,score,section,class,subclass,group,subgroup
0,37d61fd2272659b1,abatement,abatement of pollution,A47,0.50,A,4,7,9999.0,9999.0
1,7b9652b17b68b7a4,abatement,act of abating,A47,0.75,A,4,7,9999.0,9999.0
2,36d72442aefd8232,abatement,active catalyst,A47,0.25,A,4,7,9999.0,9999.0
3,5296b0c19e1ce60e,abatement,eliminating process,A47,0.50,A,4,7,9999.0,9999.0
4,54c1e3b9184cb5b6,abatement,forest region,A47,0.00,A,4,7,9999.0,9999.0

### Establish Transformers Model